<h1> Your Team: </h1>
<p>
    <label>Team Name: <%= @team.name%></label>
</p>
<p>
    <label>Team Motto: <%= @team.motto%></label>
</p>
<ul>

    <%@super_heroes.each_with_index do |hero, index|%>
        <li> Hero Name: <%= hero.name%></label></li>
        <li> Hero Power: <%= hero.power%></li>
        <li> Hero Biography: <%= hero.bio%></li>
        <br>
    <%end%>
</ul>



